@import url('http://fonts.cdnfonts.com/css/gotham');
              
.app {
  background-color:  #000;;
  min-height: 100vh;
  font-family: 'Gotham', sans-serif;
  color: white;
  font-weight: bold;
  
}

